<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="burgerImage" class="m-3">
                <img src="/assets/img/burger.png" alt="Burger" width="125" height="100">
            </div>
            <h1 class="text-center">Eat-Da-Burger!</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-5 text-center">
            <h2>Burgers to eat</h2>
            <hr>
            <div>
                {{#each burger}}
                {{#unless devoured}}
                <div class="toEatDiv">
                    <span>{{ burger_name }}</span>
                    <button class="devouredBtn" data-id="{{ id }}" data-toEat="{{ devoured }}">Devour!</button>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 text-center">
            <h2>Devoured!</h2>
            <hr>
            <div>
                {{#each burger}}
                {{#if devoured}}
                <p>{{ burger_name }}</p>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="text-center col-sm-12">
            <form>
                <label for="userInput">Enter a burger you want to eat</label>
                <br>
                <input id="userInput" type="text">
                <button id="submitBtn">Submit</button>
            </form>
        </div>
    </div>
</div>